<div class="container-fluid custom-scrollbar-css">
    <div class="row">
        <div class="col col-md-9">

            <h1 class="text-uppercase">Créer Fournisseur</h1>


            <h2>Vous avez deja 30 fournisseur </h2>

        </div>
        <div class="col col-md-1 ml-auto d-flex justify-content-end">

            <div class="row">
                <div class="col col-md-4">
                    <a class="elhoo_compte_IconSvgStyle">
                        <button mat-icon-button>
                            <mat-icon>
                               
                            
                                        
                                        <svg width="26" height="40" viewBox="0 0 22 19"
                                        fill="#323d41"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path   [ngClass]="{elhoo_account_IconSvg_on: route_active ==
                                            '/contact/newsuppliers' ,
                                            elhoo_account_IconSvg_off : route_active !=
                                            '/contact/newsuppliers' }" fill-rule="evenodd"
                                            clip-rule="evenodd" d="M20.7777
                                            -0.000305176H1.22218V2.37435H20.7777V-0.000305176ZM22
                                            11.873V9.49833L20.7777 3.56171H1.22218L0
                                            9.49833V11.873H1.22218V18.997H13.4444V11.873H18.3333V18.997H20.7777V11.873H22ZM11
                                            16.6223H3.66663V11.873H11V16.6223Z"
                                              />
                                        </svg>
                                </mat-icon>
                            </button>
                    </a>

                </div>
                <div class="col col-md-4">
                    <a class="elhoo_compte_IconSvgStyle">
                        <button mat-icon-button>
                                <mat-icon>
                                    <svg width="26" height="40" viewBox="0 0 20
                                        19" fill="#323d41"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path 
                                            
                                            fill-rule="evenodd"
                                            clip-rule="evenodd" d="M18.8312
                                            12.7119C18.6267 12.4968 18.3785
                                            12.3884 18.0857
                                            12.3884H13.4024C13.2493 12.82
                                            12.9917 13.1748 12.6294
                                            13.452C12.2674 13.73 11.8639 13.8686
                                            11.4175 13.8686H8.61012C8.16372
                                            13.8686 7.75951 13.73 7.3981
                                            13.452C7.03576 13.1748 6.77823 12.82
                                            6.62506 12.3884H1.94172C1.64923
                                            12.3884 1.40068 12.4968 1.19566
                                            12.7119C0.991104 12.9282 0.888672
                                            13.1902 0.888672
                                            13.4985V17.198C0.888672 17.5063
                                            0.991104 17.7687 1.19566
                                            17.9843C1.40068 18.1998 1.64923
                                            18.3078 1.94172
                                            18.3078H18.0857C18.3785 18.3078
                                            18.6267 18.1998 18.8319
                                            17.9843C19.0364 17.7679 19.1389
                                            17.5063 19.1389
                                            17.198V13.4985C19.1389 13.1902
                                            19.0364 12.9282 18.8312
                                            12.7119ZM14.719 16.6081C14.5798
                                            16.7551 14.4155 16.8278 14.2256
                                            16.8278C14.0348 16.8278 13.8705
                                            16.7551 13.7317 16.6081C13.5931
                                            16.462 13.5234 16.2888 13.5234
                                            16.0878C13.5234 15.8875 13.5931
                                            15.7144 13.7317 15.5681C13.8705
                                            15.4212 14.0348 15.3485 14.2256
                                            15.3485C14.4155 15.3485 14.5798
                                            15.4212 14.719 15.5681C14.8578
                                            15.7144 14.9275 15.8875 14.9275
                                            16.0878C14.9275 16.2888 14.8578
                                            16.462 14.719 16.6081ZM17.5264
                                            16.6081C17.3879 16.7551 17.2226
                                            16.8278 17.0327 16.8278C16.8428
                                            16.8278 16.6785 16.7551 16.5393
                                            16.6081C16.4006 16.462 16.3313
                                            16.2888 16.3313 16.0878C16.3313
                                            15.8875 16.4006 15.7144 16.5393
                                            15.5681C16.6785 15.4212 16.8428
                                            15.3485 17.0327 15.3485C17.2226
                                            15.3485 17.3879 15.4212 17.5264
                                            15.5681C17.665 15.7144 17.7348
                                            15.8875 17.7348 16.0878C17.7348
                                            16.2888 17.6658 16.462 17.5264
                                            16.6081ZM5.07626
                                            6.08067H7.89792V1.36602C7.89792
                                            1.18391 7.96719 1.02534 8.10727
                                            0.892343C8.24651 0.759476 8.41166
                                            0.692444 8.6033
                                            0.692444H11.4242C11.6158 0.692444
                                            11.7809 0.759476 11.9202
                                            0.892343C12.0597 1.02534 12.1296
                                            1.18391 12.1296
                                            1.36602V6.08067H14.9512C15.2596
                                            6.08067 15.4763 6.22145 15.6011
                                            6.50128C15.7258 6.77518 15.6744
                                            7.01754 15.4464 7.22794L10.5095
                                            11.9428C10.3773 12.076 10.2122
                                            12.1426 10.0135 12.1426C9.81533
                                            12.1426 9.65017 12.076 9.51813
                                            11.9428L4.58032 7.22794C4.35242
                                            7.01754 4.3014 6.77518 4.42651
                                            6.50128C4.55125 6.22076 4.7678
                                            6.08067 5.07626 6.08067Z"
                                            fill="#323D41" />
                                        </svg>

                                    </mat-icon>
                                </button>
                    </a>

                </div>



                <div class="col col-md-4">
                    <a (click)="exportDirective.exportTable('xlsx',
                    {fileName:'clients', sheet: 'list', Props:
                    {Author: 'devcom'}})" class="elhoo_compte_IconSvgStyle">
                        <button mat-icon-button>
                                    <mat-icon>
                                        <svg width="26" height="40" viewBox="0 0
                                            22 19" fill="#323d41"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                clip-rule="evenodd" d="M16.4673
                                                0.927473L21.7923 4.86651C21.96
                                                4.98988 22.0587 5.18557 22.0587
                                                5.39169C22.0587 5.59807 21.96
                                                5.79346 21.7923 5.91703L16.4673
                                                9.85611C16.2661 10.0057 15.9946
                                                10.0293 15.7695 9.91775C15.5446
                                                9.80617 15.4021 9.57893 15.4021
                                                9.33072V7.36133H12.8593C10.5748
                                                7.36133 8.52196 8.6139 7.50074
                                                10.6295L7.34379 10.9379C7.22929
                                                11.1637 6.99631 11.3002 6.74866
                                                11.3002C6.69801 11.3002 6.64616
                                                11.2951 6.59551 11.2832C6.29609
                                                11.2137 6.08304 10.9485 6.08304
                                                10.6437C6.08304 6.66142 9.36724
                                                3.42225 13.4053
                                                3.42225H15.4021V1.45268C15.4021
                                                1.20452 15.5446 0.977479 15.7709
                                                0.865851C15.996 0.754267 16.2674
                                                0.777961 16.4673
                                                0.927473ZM3.42039
                                                16.5524H15.4021V11.341H18.0648V17.8653C18.0648
                                                18.5913 17.4697 19.1783 16.7334
                                                19.1783H2.08914C1.35421 19.1783
                                                0.757812 18.5913 0.757812
                                                17.8653V3.42225C0.757812 2.69753
                                                1.35421 2.10925 2.08914
                                                2.10925H7.41429V4.73532H3.42039V16.5524Z"
                                                fill="#323d41" />
                                            </svg>

                                        </mat-icon>
                                    </button>
                    </a>

                </div>



            </div>




        </div>




        <div class="col col-md-1  pt-2">

            <ul class="list-group">
                <li class="list-group-item mr-2">
                    <a class="elhoo_compte_IconSvgStyle">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon class="w-100"><svg width="30"   
                                                fill="#323d41"
                                                viewBox="0
                                                0 49 32"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M0.0292969
                                                    0.0818024H48.8773V5.40163H0.0292969V0.0818024ZM48.8773
                                                    13.3814H20.0125V18.7012H48.8773V13.3814ZM48.8773
                                                    26.6806H8.91086V32H48.8773V26.6806Z"
                                                    />
                                                </svg></mat-icon>
                                        </button>

                        <mat-menu #menu="matMenu" class="mt-2">

                            <button (click)="setrouter('/contact/customer')" mat-menu-item>
                               
                                  <span [ngClass]="{elhoo_account_IconSvg_on: route_active ==
                                    '/contact/customer' ,
                                    elhoo_account_IconSvg_off : route_active !=
                                    '/contact/customer' }">Liste clients </span>
                                </button>



                            <button (click)="setrouter('/contact/suppliers')" mat-menu-item>
                              
                                  <span [ngClass]="{elhoo_account_IconSvg_on: route_active ==
                                    '/contact/suppliers' ,
                                    elhoo_account_IconSvg_off : route_active !=
                                    '/contact/suppliers' }">Liste Fournisseurs</span>
                                </button>
                        </mat-menu>


                    </a>
                </li>


            </ul>

        </div>
    </div>
</div>







<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <div class="input-group mb-4">
                <mat-form-field appearance="none" class="example-full-width">
                    <mat-label class="elhoo_compte_labelInputPosition">CHOISIR UNE CATEGORIE</mat-label>

                    <mat-select matInput [(ngModel)]="selectedValueDelaiPaiement">

                        <mat-option *ngFor="let categorie of categorie" [value]="categorie.value">
                            {{categorie.viewValue}}
                        </mat-option>

                    </mat-select>


                </mat-form-field>
            </div>
            <h3>CLIENT</h3>


            <div class="input-group mb-4">
                <mat-form-field appearance="none" class="example-full-width">
                    <mat-label class="elhoo_compte_labelInputPosition">Référence</mat-label>
                    <input autocomplete="off" matInput placeholder="Référence" class="InputFirstSection">

                </mat-form-field>


            </div>
            <div class="input-group mb-4">
                <mat-form-field appearance="none" class="example-full-width">
                    <mat-label class="elhoo_compte_labelInputPosition">Nom *</mat-label>
                    <input autocomplete="off" matInput placeholder="Nom *" [formControl]="nomFormControl" [errorStateMatcher]="matcher" class="InputFirstSection">
                    <mat-error *ngIf="nomFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                        Nom is <strong>required</strong>
                    </mat-error>
                </mat-form-field>


            </div>

            <div class="input-group mb-4">
                <mat-form-field appearance="none" class="example-full-width">
                    <mat-label class="elhoo_compte_labelInputPosition">Email *</mat-label>
                    <input autocomplete="off" matInput placeholder="Email *" class="InputFirstSection" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-error class="elhoo_compte_messageErrorPosition" *ngIf="emailFormControl.hasError('email') &&
                    !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>


            </div>

            <h3>COMMENTAIRES</h3>
            <div class="input-group  ">
                <mat-form-field>

                    <mat-label class="elhoo_compte_labelInputPosition">Commentaire *</mat-label>
                    <textarea cdkTextareaAutosize id="textLangue" placeholder="Commentaire *" rows="12" cols="40" matInput></textarea>


                </mat-form-field>


            </div>

        </div>
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-6">
                    <h3>ADRESSE</h3>
                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Adresse *</mat-label>
                            <input autocomplete="off" matInput placeholder="Adresse *" [formControl]="adresseFormControl" [errorStateMatcher]="matcher" class="InputFirstSection">
                            <mat-error *ngIf="nomFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                                Adresse is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>


                    </div>
                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Adresse (ligne 2)</mat-label>
                            <input autocomplete="off" matInput placeholder="Adresse (ligne 2)" class="InputFirstSection">

                        </mat-form-field>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-4">
                                <mat-form-field appearance="none" class="example-full-width">
                                    <mat-label class="elhoo_compte_labelInputPosition">Code postal * </mat-label>
                                    <input type="number" autocomplete="off" matInput placeholder="Code postal *" [formControl]="codePostalFormControl" [errorStateMatcher]="matcher" class="InputFirstSection">
                                    <mat-error *ngIf="codePostalFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                                        Code postal <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-4">
                                <mat-form-field appearance="none" class="example-full-width">
                                    <mat-label class="elhoo_compte_labelInputPosition">Ville *</mat-label>

                                    <mat-select matInput [(ngModel)]="selectedValueVille" [formControl]="villeFormControl" [errorStateMatcher]="matcher">

                                        <mat-option *ngFor="let ville of villes" [value]="ville.value">
                                            {{ville.viewValue}}
                                        </mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="villeFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                                        Ville is <strong>required</strong>
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Pays *</mat-label>
                            <input autocomplete="off" matInput placeholder="Pays *" [formControl]="paysFormControl" [errorStateMatcher]="matcher" class="InputFirstSection">
                            <mat-error *ngIf="paysFormControl.hasError('required')" class="elhoo_compte_messageErrorPosition">
                                Pays is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>


                    </div>
                    <div class="input-group mb-4 ">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Numéro de TVA </mat-label>
                            <input type="number" autocomplete="off" matInput placeholder="Numéro de TVA" class="InputFirstSection">

                        </mat-form-field>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3>COORDONNÉES BANCAIRES</h3>
                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">IBAN</mat-label>
                            <input autocomplete="off" matInput placeholder="IBAN" class="InputFirstSection">

                        </mat-form-field>


                    </div>
                    <div class="input-group mb-4  ">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">BIC</mat-label>
                            <input autocomplete="off" matInput placeholder="BIC" class="InputFirstSection">

                        </mat-form-field>


                    </div>
                    <h3 class="mb-4">EXPORT EN COMPTABILITÉ</h3>
                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Référence client</mat-label>
                            <input autocomplete="off" matInput placeholder="Référence client" class="InputFirstSection">

                        </mat-form-field>


                    </div>
                    <div class="input-group   ">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Numéro de client</mat-label>
                            <input autocomplete="off" matInput placeholder="Numéro de client" class="InputFirstSection">

                        </mat-form-field>


                    </div>
                </div>


            </div>

            <h3>PERSONNE DE CONTACT</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <table #exportDirective="matTableExporter" matTableExporter mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 shadow-none ">

                <ng-container matColumnDef="art">
                    <th mat-header-cell *matHeaderCellDef> Civilité</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.art}}
                    </td>

                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Nom Fonction </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.description}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="quantite">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.quantite}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="unite">
                    <th mat-header-cell *matHeaderCellDef> Num de téléphone </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.unite}}
                </ng-container>

                <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef>Num de téléphone (2)</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        {{element.unit}}
                        <!-- <input disabled="true" autocomplete="off" matInput value="{{element.unit}}" class="InputFirstSection"> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <a (click)="removenew(i)" class="cursor-pointer p-1">

                            <svg width="14" height="17" viewBox="0 0 14
                            17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M5.36536
                                1.02622H8.30152V1.50426H9.36176V0.95934C9.36194
                                0.43048 8.9175 0
                                8.37117
                                0H5.2957C4.74939 0
                                4.30492 0.43048
                                4.30492
                                0.95934V1.50426H5.36536V1.02622ZM11.8106
                                5.5699H1.85633C1.58358
                                5.5699
                                1.36887 5.7951
                                1.39083 6.0582L2.223
                                16.016C2.26941
                                16.572 2.74845 17
                                3.32421
                                17H10.3425C10.9181
                                17
                                11.3974 16.572
                                11.4437
                                16.0158L12.2759
                                6.0582C12.298 5.7951
                                12.0833 5.5699
                                11.8106
                                5.5699ZM4.26653
                                15.938C4.25547
                                15.9386 4.2444
                                15.939 4.23333
                                15.939C3.95531
                                15.939 3.72197
                                15.7295 3.70482
                                15.4574L3.18323
                                7.28252C3.16533
                                6.99966 3.3876
                                6.75622 3.67981
                                6.73886C3.97109
                                6.72168 4.22373
                                6.93636 4.24163
                                7.21948L4.76304
                                15.3943C4.78112
                                15.6771 4.55875
                                15.9205 4.26653
                                15.938ZM7.36951
                                15.4259C7.36951
                                15.7092 7.13221
                                15.9388 6.83935
                                15.9388C6.54649
                                15.9388 6.30908
                                15.7092 6.30908
                                15.4259V7.25094C6.30908
                                6.96758
                                6.54649 6.73784
                                6.83935
                                6.73784C7.13211
                                6.73784 7.36951
                                6.96758 7.36951
                                7.25094V15.4259ZM10.4837
                                7.28106L9.98578
                                15.456C9.96925
                                15.7286 9.73545
                                15.9388 9.45699
                                15.9388C9.44655
                                15.9388 9.43586
                                15.9386 9.42534
                                15.9382C9.13304
                                15.9213 8.91002
                                15.6786 8.92727
                                15.3956L9.42515
                                7.22076C9.44222
                                6.93782 9.69236
                                6.72194 9.9854
                                6.73878C10.2778
                                6.75528 10.5008
                                6.99828 10.4837
                                7.28106ZM13.6441
                                3.98642L13.2959
                                2.97646C13.2041
                                2.7101 12.9465
                                2.53048 12.6563
                                2.53048H1.01049C0.720317
                                2.53048
                                0.462699 2.7101
                                0.370984
                                2.97646L0.0227731
                                3.98642C-0.0444109
                                4.18136 0.0430711
                                4.38004 0.206203
                                4.4791C0.272537
                                4.51946 0.351247
                                4.54366 0.437794
                                4.54366H13.2292C13.3155
                                4.54366
                                13.3944 4.51946
                                13.4608
                                4.479C13.6238
                                4.37988 13.7113
                                4.18118 13.6441
                                3.98642Z" />
                            </svg>


                        </a>

                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>



            <form [formGroup]='invoiceForm' class="row pt-3">
                <div class="col ">


                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Civilité</mat-label>




                            <mat-select matInput [(ngModel)]="selectedValueCivilite" name="art" formControlName="art">

                                <mat-option *ngFor="let civilites of civilites" [value]="civilites.value">
                                    {{civilites.viewValue}}
                                </mat-option>

                            </mat-select>



                        </mat-form-field>
                    </div>

                </div>
                <div class="col">

                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Nom Fonction</mat-label>
                            <input autocomplete="off" matInput placeholder="Nom Fonction" formControlName="description" class="InputFirstSection">

                        </mat-form-field>
                    </div>
                </div>
                <div class="col">

                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Email</mat-label>
                            <input autocomplete="off" matInput placeholder="Email" formControlName="quantite" class="InputFirstSection">

                        </mat-form-field>

                    </div>
                </div>
                <div class="col">


                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Num de téléphone </mat-label>
                            <input autocomplete="off" type="number" matInput placeholder="Num de téléphone" formControlName="unite" class="InputFirstSection">

                        </mat-form-field>
                    </div>

                </div>
                <div class="col">

                    <div class="input-group mb-4">
                        <mat-form-field appearance="none" class="example-full-width">
                            <mat-label class="elhoo_compte_labelInputPosition">Num de téléphone (2)</mat-label>
                            <input autocomplete="off" type="number" matInput placeholder="Num de téléphone (2)" formControlName="unit" class="InputFirstSection">

                        </mat-form-field>
                    </div>

                </div>


                <div class="col ">
                    <button [disabled]="disableForm" class="buttonAddRemove p-2" (click)="addNew()">
                        <svg width="25" height="25" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.64171 0.777925V6.92249H0.757671V10.483H6.64171V16.6914H10.2642V10.483H16.1259V6.92249H10.2642V0.777925H6.64171Z" fill="#F2F5FA"/>
                            </svg>
                            
                    </button>

                </div>
            </form>

        </div>

    </div>





    <div class="  justify-content-end d-flex">
        <button class="btn text-uppercase" type="submit" aria-pressed="true">enregristrer</button>
    </div>


</div>