* {
    font-family: 'Poppins', sans-serif !important;
}

.elhoo_compte_messageErrorPosition {
    margin-top: 18px;
    color: var(--secondary_color);
}

.InputFirstSection {
    font-size: 12px;
    padding-left: 12px;
    font-family: 'Poppins', sans-serif !important;
    line-height: 0px;
}

.buttonAddRemove {
    border-style: solid;
    border-radius: 5px;
    background-color: #323d41;
    border-color: #323d41;
    border-width: 1px;
    transform: translateX(50%);
    cursor: pointer;
    &:hover {
        background-color: var(--primary_color);
        border-color: var(--secondary_color);
        svg {
            path {
                fill: var(--secondary_color);
            }
        }
    }
}

tr.mat-header-row {
    height: 42px;
}


/***************/

.elhoo_compte_IconSvgStyle {
    text-align: center;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elhoo_body_title_textStyle {
    width: 256px;
    font-weight: normal;
    letter-spacing: 1.16667px;
    color: #D22254;
    font-size: 23px;
}

.elhoo_body_subtitle_textStyle {
    font-size: 14px;
    letter-spacing: 0.166667px;
    font-family: 'Poppins', sans-serif;
}

.elhoo_body_subtitle_textStyle2 {
    font-size: 14px;
    letter-spacing: 0.166667px;
    font-family: 'Poppins', sans-serif;
    color: #D22254;
}

.list-group-item {
    padding: 0;
    background-color: #fff0;
    border: 0;
    display: flex;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.elhoo_compte_labelInputPosition {
    line-height: 25px;
    background-color: #eaeff2;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
}

h1 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
}

.list-group-item {
    padding: 0;
    background-color: #fff0;
    border: 0;
    flex-direction: unset;
    flex-direction: unset;
    display: flex;
    justify-content: flex-end;
}

.elhoo_compte_IconSvgStyle {
    &:hover {
        svg {
            path {
                fill: var(--secondary_color);
            }
        }
    }
}

.elhoo_account_IconSvg_on {
    fill: var(--secondary_color);
}

.elhoo_account_IconSvg_off {
    fill: var(--dark_color);
}