<div class="container-fluid custom-scrollbar-css">
    <div class="row ">
        <div class="col col-md-6">

            <h1 *ngIf="route_active == '/purchase/category'" class="text-uppercase">Gestion des catégories </h1>
            <h1 *ngIf="route_active == '/purchase/invoice'" class="text-uppercase">Achats </h1>
            <h1 *ngIf="route_active == '/preference/quote'" class="text-uppercase">Reçus</h1>

            <h2>ACHATS </h2>

        </div>

        <div class="col col-lg-3 col-md-6 ml-auto pt-2">

            <ul class="list-group">
                <li class="list-group-item mr-2">
                    <a class="elhoo_compte_IconSvgStyle">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon class="w-100"><svg width="30" fill="#323d41" viewBox="0
                  0 49 32" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0292969
                    0.0818024H48.8773V5.40163H0.0292969V0.0818024ZM48.8773
                    13.3814H20.0125V18.7012H48.8773V13.3814ZM48.8773
                    26.6806H8.91086V32H48.8773V26.6806Z" />
                  </svg></mat-icon>
              </button>
                        <mat-menu #menu="matMenu" class="mt-2">
                            <button (click)="setrouter('/purchase/category')" mat-menu-item>
                 
                    <span [ngClass]="{elhoo_account_IconSvg_on: route_active ==
                      '/purchase/category' ,
                      elhoo_account_IconSvg_off : route_active !=
                      '/purchase/category' }">Gestion des catégories</span>
                  </button>
                            <button (click)="setrouter('/purchase/invoice')" mat-menu-item>
                  
                      <span [ngClass]="{elhoo_account_IconSvg_on: route_active
                        == '/purchase/invoice' ,
                        elhoo_account_IconSvg_off : route_active !=
                        '/purchase/invoice' }">Facture d'achat</span>
                    </button>
                            <button (click)="setrouter('/preference/quote')" mat-menu-item>
                      
                        <span [ngClass]="{elhoo_account_IconSvg_on: route_active
                          == '/preference/quote' ,
                          elhoo_account_IconSvg_off : route_active !=
                          '/preference/quote' }">Reçus</span>
                      </button>

                        </mat-menu>


                    </a>
                </li>


            </ul>

        </div>
    </div>
</div>