<div class="container-fluid elhoo_body_img_TableauBord_padding">
    <div class="row mt-5 pt-5">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-12">
                    <p class="elhoo_body_title_textStyle text-uppercase">Tableau de bord </p>
                    <p class="elhoo_body_subtitle_textStyle">Content de vous revoir, youssef ! </p>

                </div>
            </div>
            <div class="row pt-5">
                <div class="col-6 col-md-2 mb-4 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent pl-0" #elhoolink [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4196 (2).svg" />
                            <p>Vente</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-4 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4195 (1).svg" />
                            <p>Achat</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-4 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4194 (1).svg" />
                            <p>Paiement</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-4 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4198 (1).svg" />
                            <p>Comptable</p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-md-2 mb-4 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4197 (1).svg" />
                            <p>Préférence</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 pr-4 mb-3 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4197 (1).svg" />
                            <p>Préférence</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-4 pl-2 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4196 (2).svg" />
                            <p>Vente</p>
                        </a>
                    </div>
                </div>


                <div class="col-6 col-md-2 mb-4 pl-2 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4195 (1).svg" />
                            <p>Achat</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-4 pl-2 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4194 (1).svg" />
                            <p>Paiement</p>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-md-2 mb-4 pl-2 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4198 (1).svg" />
                            <p>Comptable</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 pr-3 mb-4 pl-2 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4197 (1).svg" />
                            <p>Préférence</p>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-2 mb-4 pl-2 px-sm-3">
                    <div class="elhoo_body_text_TableauBord_divContent" [ngStyle]="{'height.px': elhoolink.offsetWidth}">
                        <a class="elhoo_body_text_TableauBord" href="#">
                            <img class="img-fluid mb-2" src="../../assets/Combined shape 4197 (1).svg" />
                            <p>Préférence</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 pt-2">
            <div class="row">
                <div class="col-12 col-md-12 text-right">
                    <mat-form-field class="elhoo_body_dateInputFormat">
                        <input min="1990" max="2020" class="ml-3" matInput [matDatepicker]="dp" [formControl]="date_chart" />
                        <mat-datepicker-toggle matSuffix [for]="dp">
                            <mat-icon matDatepickerToggleIcon><img class="elhoo_dashboard_IconDatePicker" src="../../assets/16.png" /></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler_chart($event,dp)"> </mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 pr-4">
                    <div>
                        <canvas class="elhoo_body_canvas" id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid elhoo_body_img_TableauBord_padding">


    <div class="row">
        <div class="col-12 col-md-6 text-right"></div>
        <div class="col-12 col-md-6 pl-5 text-right">
            <mat-form-field class="elhoo_body_dateInputFormat">
                <input min="1990" max="2020" class="ml-3" matInput [matDatepicker]="dp1" [formControl]="date_statistique" />
                <mat-datepicker-toggle matSuffix [for]="dp1">
                    <mat-icon matDatepickerToggleIcon><img class="elhoo_dashboard_IconDatePicker img-fluid " src="../../assets/16.png" /></mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #dp1 startView="multi-year" (yearSelected)="chosenYearHandler_statistique($event ,dp1)">
                </mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 pb-4">

            <div class="elhoo_body_TableauBord-result_filter py-5">
                <img class="img-fluid" src="../../assets/Combined shape 3715.svg" />
                <p class="elhoo_body_text_TableauBord ">Ventes</p>
                <h1 class="text-center mb-0">{{VentesElement }} €</h1>
            </div>


        </div>
        <div class="col-12 col-md-3 pb-4 px-sm-3">
            <div class="elhoo_body_TableauBord-result_filter py-5">
                <img class="img-fluid" src="../../assets/Combined shape 3714.svg" />
                <p class="elhoo_body_text_TableauBord">Achats</p>
                <h1 class="text-center mb-0">{{AchatsElement}} €</h1>
            </div>
        </div>
        <div class="col-12 col-md-3 pb-4 px-sm-3">
            <div class="elhoo_body_TableauBord-result_filter py-5">
                <img class="img-fluid" src="../../assets/Combined shape 4432.svg" />
                <p class="elhoo_body_text_TableauBord">Marge</p>
                <h1 class="text-center mb-0">{{Marge1Element}} €</h1>
            </div>
        </div>
        <div class="col-12 col-md-3 pb-4 px-sm-3">
            <div class="elhoo_body_TableauBord-result_filter py-5">
                <img class="img-fluid" src="../../assets/Combined shape 4432.svg" />
                <p class="elhoo_body_text_TableauBord">Marge</p>
                <h1 class="text-center mb-0">{{Marge2Element}} €</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3   px-sm-3">
            <div class="elhoo_body_TableauBord-result pt-5 pb-5 h-100 pb-3">
                <img class="img-fluid" src="../../assets/Combined shape 3735 (2).svg" />

                <p>LIEZ VOTRE COMPTE BANCAIRE</p>
                <h5 class="pl-4 pr-4 mb-0">Liez votre compte bancaire et vos paiements seront réconciliés avec vos factures</h5>
                <a href="#" class="btn elhoo_body_btn text-uppercase
                    elhoo_body_text mt-3">Lier compte bancaire</a>
            </div>
        </div>

        <div class="col-12 col-md-3   px-sm-3">
            <div class="elhoo_body_TableauBord-result pt-5 pb-5 h-100 pb-3">
                <img class="img-fluid" src="../../assets/Combined shape 3754 (1).svg" />
                <p class="text-uppercase pb-3">balance TVA</p>
                <h1 class="text-center mb-0 pb-5">12000€</h1>

            </div>
        </div>
        <div class="col-12 col-md-3  px-sm-3">
            <div class="elhoo_body_TableauBord-result pt-5 pb-5 h-100 pb-3">
                <img class="img-fluid" src="../../assets/Combined shape 4455.svg" />
                <p>CRÉEZ UNE FACTURE</p>
                <h5 class="pl-4 pr-4 mb-0">Créez une facture simplement <br> en quelques clics</h5>
                <a href="#" class="btn elhoo_body_btn text-uppercase
                    elhoo_body_text mt-3">Créer facture</a>
            </div>
        </div>
        <div class="col-12 col-md-3  px-sm-3">
            <div class="elhoo_body_TableauBord-result pt-5 pb-5 h-100 pb-3">
                <img class="img-fluid" src="../../assets/Combined shape 4456.svg" />
                <p>ENREGISTREZ UNE FACTURE D'ACHAT</p>
                <h5 class="pl-4 pr-4 mb-0">Enregistrez une facture d'achat afin de voir <br> vos profits</h5>
                <a href="#" class="btn elhoo_body_btn text-uppercase
                    elhoo_body_text mt-3"> Enregistrer facture</a>
            </div>
        </div>