::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-flex {
    align-items: center;
}

.mat-form-field.mat-form-field {
    width: 50%;
    align-items: center;
    padding: 0em 0px;
}

::ng-deep .mat-calendar-body-selected {
    background-color: var(--secondary_color)
}

::ng-deep .mat-datepicker-content {
    margin-top: 6px;
}

::ng-deep .mat-datepicker-toggle {
    bottom: 0px;
    top: 0;
    margin: auto;
    font-size: x-large;
}

.elhoo_body_title_textStyle {
    margin: 0 0 8px;
    font-weight: normal;
    letter-spacing: 1.2px;
    color: var(--secondary_color);
    font-size: 23px;
}

.elhoo_body_subtitle_textStyle {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.elhoo_body_text_TableauBord {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 12px;
}

.elhoo_body_btn {
    background: var(--secondary_color);
    color: white;
    border-color: var(--secondary_color);
    &:hover {
        clear: both;
        color: var(--secondary_color);
        border-color: var(--secondary_color);
        background-color: var(--primary_color);
        cursor: pointer;
        display: inline-block;
        transition: all 0.23s ease-in-out 0s;
    }
}

.elhoo_body_text_TableauBord_divContent {
    text-align: center;
    background: var(--primary_color);
    box-shadow: 5.9px 6.8px 15.5px rgba(137, 148, 169, 0.28), -2.8px -2.8px 8px rgb(255 255 255 / 100%), inset 3.5px 3.5px 6px rgba(255, 255, 255, 0.15);
    border-radius: 7px;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
        p {
            margin: 0;
            letter-spacing: 0px;
            font-size: 12px;
        }
        img {
            width: 25px;
        }
    }
}

.elhoo_body_text {
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 300px;
}

.elhoo_body_dateInputFormat {
    background: var(--primary_color);
    box-shadow: 5.9px 6.8px 15.5px rgba(137, 148, 169, 0.28), -2.8px -2.8px 8px rgb(255 255 255 / 100%), inset 3.5px 3.5px 6px rgba(255, 255, 255, 0.15);
    border: none;
    margin-bottom: 36px;
    padding: 2px 6px 12px 20px;
    border-radius: 7px;
    height: 42px;
    padding-bottom: 9px;
}

.elhoo_body_img_TableauBord_padding {
    padding-bottom: 10px;
}

.elhoo_body_canvas {
    width: 848px;
    height: 378px;
    padding-bottom: 33px;
    padding-left: 0px;
}

.dateInputFormat {
    background: var(--primary_color);
    box-shadow: 5.9px 6.8px 15.5px rgba(137, 148, 169, 0.28), -2.8px -2.8px 8px rgb(255 255 255 / 100%), inset 3.5px 3.5px 6px rgba(255, 255, 255, 0.15);
}

.elhoo_body_TableauBord-result_filter {
    text-align: center;
    background: var(--primary_color);
    box-shadow: 5.9px 6.8px 15.5px rgba(137, 148, 169, 0.28), -2.8px -2.8px 8px rgb(255 255 255 / 100%), inset 3.5px 3.5px 6px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        margin: 0;
        letter-spacing: 0px;
        font-size: 16px;
        padding-top: 30px;
        font-size: 18px;
    }
    h1 {
        font-size: 32px;
        padding-top: 20px;
    }
    img {
        width: 35px;
    }
}

.elhoo_body_TableauBord-result {
    text-align: center;
    background: var(--primary_color);
    box-shadow: 5.9px 6.8px 15.5px rgba(137, 148, 169, 0.28), -2.8px -2.8px 8px rgb(255 255 255 / 100%), inset 3.5px 3.5px 6px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    p {
        margin: 0;
        letter-spacing: 0px;
        font-size: 16px;
        padding-top: 30px;
        font-size: 18px;
    }
    h1 {
        font-size: 32px;
    }
    img {
        width: 35px;
    }
    a {
        width: 70%;
    }
}

.elhoo_body_text {
    color: var(--primary_color);
    text-decoration: none;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 20px;
    letter-spacing: 2PX;
    width: 271px;
}

::ng-deep .mat-calendar-content {
    padding: 0 8px 8px 9px !important;
}