<div class="container-fluid ">

    <div class="row pt-4 ">
        <div class="col-12 col-md-12 d-flex justify-content-end;">

            <button>dfgdf</button>

        </div>
    </div>
    <div class="row  ">
        <div class="col-12 col-md-4">
            <div>
                <canvas class="elhoo_body_canvas" id="myChart"></canvas>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="elhoo_body_TableauBord-result_filter py-5">

                <p class="elhoo_body_text_TableauBord ">Paiements en retard</p>
                <h1 class="text-center mb-0">0,00 €</h1>
            </div>

        </div>
        <div class="col-12 col-md-4">

            <div class="elhoo_body_TableauBord-result_filter py-5">

                <p class="elhoo_body_text_TableauBord ">Achat de {{mois}}</p>
                <h1 class="text-center mb-0">200,00 €</h1>
            </div>

        </div>
    </div>
</div>