.elhoo_body_canvas {
    width: 100%;
    padding: 0px;
}

.elhoo_body_TableauBord-result_filter {
    text-align: center;
    background: var(--primary_color);
    box-shadow: 5.9px 6.8px 15.5px rgba(137, 148, 169, 0.28), -2.8px -2.8px 8px white, inset 3.5px 3.5px 6px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    p {
        margin: 0;
        letter-spacing: 0px;
        font-size: 16px;
        padding-top: 30px;
        font-size: 18px;
    }
    h1 {
        font-size: 32px;
        padding-top: 20px;
    }
}