    * {
        font-family: 'Poppins', sans-serif !important;
    }
    
    .elhoo_compte_messageErrorPosition {
        margin-top: 18px;
        color: var(--secondary_color);
    }
    
    .InputFirstSection {
        font-size: 12px;
        padding-left: 12px;
        font-family: 'Poppins', sans-serif !important;
        line-height: 0px;
    }
    
    .buttonAddRemove {
        border-style: solid;
        border-radius: 5px;
        background-color: #323d41;
        border-color: #323d41;
        border-width: 1px;
        cursor: pointer;
        &:hover {
            background-color: var(--primary_color);
            border-color: var(--secondary_color);
            svg {
                path {
                    fill: var(--secondary_color);
                }
            }
        }
    }