* {
    font-family: 'Poppins', sans-serif !important;
}

.elhoo_compte_IconSvgStyle {
    text-align: center;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        svg {
            path {
                fill: var(--secondary_color);
            }
        }
    }
}

.elhoo_body_subtitle_textStyle {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}

.elhoo_body_subtitle_textStyle1 {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}

.elhoo_body_subtitle_textStyle2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary_color);
}

.list-group-item {
    padding: 0;
    background-color: #fff0;
    border: 0;
}

ul {
    list-group {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        border-radius: .25rem;
    }
}

.elhoo_compte_messageErrorPosition {
    margin-top: 18px;
    color: var(--secondary_color);
}

.elhoo_compte_messageErrorPositionModal {
    margin-top: 16px;
    color: var(--secondary_color);
    font-size: 9px;
}

.elhoo_compte-logo {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    align-content: center;
    width: 80%;
    position: absolute;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../assets/elhooLogo.png);
}

.elhoo_img {
    width: auto;
    height: 105px;
}

.elhoo_compte_title2 {
    border-radius: 8px;
    border: 1px solid #323d41;
    display: flex;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    height: 100px;
}

ul.elhoo_account_listeIcon {
    flex-direction: unset;
    li {
        a {
            background-color: rgba(50, 61, 65, 0.5);
            width: 33px;
            height: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            border-radius: 7px;
            &:hover {
                background-color: rgba(50, 61, 65, 1);
                svg {
                    path {
                        fill: var(--secondary_color);
                    }
                }
            }
            svg {
                path {
                    fill: var(--primary_color);
                }
            }
        }
    }
}

h4 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif !important;
}

.inputModal {
    font-size: 12px;
    padding-left: 12px;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    line-height: 8px !important;
}

.msgRapport {
    margin: 0;
}

.msgRapportSuccess {
    margin: 0;
    color: var(--secondary_color);
}