.mat-badge-content {
    background: var(--badge_color_success);
}

.mat-badge-warn .mat-badge-content {
    background: var(--badge_color_warn);
}

.mat-badge-medium.mat-badge-after .mat-badge-content {
    right: -12px;
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: var(--primary_color);
}

.elhoo_nav_icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 5.9px 6.8px 15.5px rgba(137, 148, 169, 0.28), -2.8px -2.8px 8px rgb(255 255 255 / 100%), inset 3.5px 3.5px 6px rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.elhoo_nav_iconImgSize {
    width: 58%;
}

.elhoo_nav_fixedPosiion {
    position: fixed;
    top: 0%;
}

.elhoo_nav-collapse {
    align-items: center;
    justify-content: flex-end;
}