.form-element {
    width: 44%;
    background-color: #ccc;
    margin: 0 auto;
    display: block;
    padding: 2%;
}

.form-element input[type='text'] {
    width: 50%;
    border: 1px solid #aaa;
    padding: 6px 4px;
    border-radius: 4px;
}

#selectlanguage {
    padding: 5px;
    border-radius: 4px;
}

.form-element input[type='button'] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #666;
    cursor: pointer;
    background: #fff;
    transition: 0.2s ease-in-out;
}

.form-element input[type='button']:hover {
    background: #666;
    border-color: #111;
    color: #fff;
}