::ng-deep .mat-form-field-infix {
    padding: 13px 0;
    border-top: 0;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: var(--secondary_color)!important;
}

::ng-deep .mat-form-field {
    border-color: #323d41;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

::ng-deep .mat-form-field-label {
    color: #323d41!important;
    margin-left: 10px;
    margin-bottom: 15px;
}


/* ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0em 0;
    padding-top: 104px;
} */

::ng-deep .mat-datepicker-content {
    margin-top: 2px;
    margin-bottom: 2px;
}

::ng-deep .mat-calendar-body-selected {
    background-color: var(--secondary_color);
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .custom-frame .mat-checkbox-background,
 ::ng-deep .custom-frame .mat-checkbox-frame {
    border-radius: 70% !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--secondary_color);
}

::ng-deep .my-custom-dialog-class mat-dialog-container {
    padding: 0;
    background-color: var(--primary_color);
}

.elhoo_compte_IconSvgStyle {
    text-align: center;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elhoo_body_subtitle_textStyle {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}

.elhoo_body_subtitle_textStyle1 {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}

.elhoo_body_subtitle_textStyle2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary_color);
}

.list-group-item {
    padding: 0;
    background-color: #fff0;
    border: 0;
}

ul list-group {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem
}

mat-form-field {
    width: 300%;
}

.elhoo_compte_labelInputPosition {
    line-height: 25px;
    background-color: #eaeff2;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
}

h1 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
}

.elhoo_compte_title {
    border-radius: 8px;
    background-color: #323d41;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.elhoo_compte_messageErrorPosition {
    margin-top: 18px;
    color: var(--secondary_color);
}

.elhoo_compte_messageErrorPositionModal {
    margin-top: 16px;
    color: var(--secondary_color);
    font-size: 9px;
}

.elhoo_compte-logo {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.elhoo_img {
    width: auto;
    height: 105px;
}

.elhoo_body_btn {
    color: #323d41;
    border-color: #323d41;
    letter-spacing: 1.2px;
}

.elhoo_body_btn:hover {
    color: var(--secondary_color);
    border-color: var(--secondary_color);
    background-color: var(--primary_color);
    cursor: pointer;
    transition: all 0.23s ease-in-out 0s;
}

.elhoo_body_btn1 {
    background-color: #323d41;
    color: var(--primary_color);
    border-color: #323d41;
    letter-spacing: 1.2px;
}

.elhoo_body_btn1:hover {
    color: var(--secondary_color);
    border-color: var(--secondary_color);
    background-color: var(--primary_color);
    cursor: pointer;
    transition: all 0.23s ease-in-out 0s;
}

.elhoo_compte_title2 {
    border-radius: 8px;
    border: 1px solid #323d41;
    display: flex;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
}

.btnEnregistrer {
    background-color: var(--secondary_color);
    box-shadow: 4.6px 5.3px 8.7px rgba(137, 148, 169, 0.43), -4.2px -4.2px 5px #FFFFFF;
    color: var(--primary_color);
    font-size: 14px;
    letter-spacing: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

ul.elhoo_account_listeIcon li a {
    background-color: rgba(50, 61, 65, 0.5);
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    border-radius: 7px;
}

ul.elhoo_account_listeIcon li a:hover {
    background-color: rgba(50, 61, 65, 1);
}

ul.elhoo_account_listeIcon li a svg path {
    fill: var(--primary_color);
}

ul.elhoo_account_listeIcon li a:hover svg path {
    fill: var(--secondary_color);
}

.buttonText {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    padding: 11px !important;
    letter-spacing: 2px;
}

.elhoo_compte_IconSvgStyle:hover svg path {
    fill: var(--secondary_color);
}

.elhoo_body_btn:hover svg path {
    fill: var(--secondary_color);
}

.elhoo_body_btn1:hover svg path {
    fill: var(--secondary_color);
}

.InputFirstSection {
    font-size: 12px;
    padding-left: 12px;
}