.elhoo_compte_labelInputPosition {
    line-height: 25px;
    background-color: #eaeff2;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
}

table {
    width: 100%;
}

.mat-form-field-infix {
    /* padding: .5em 0; */
    border-top: 0px solid #333e42 !important;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: 'Poppins', sans-serif !important;
}

.list-group-item {
    padding: 0;
    background-color: #fff0;
    border: 0;
    flex-direction: unset;
    flex-direction: unset;
    display: flex;
    justify-content: flex-end;
}

button {
    width: 15%;
    border: none;
    background-color: var(--primary_color);
}

.elhoo_account_IconSvg_on {
    fill: var(--secondary_color);
    color: var(--secondary_color);
}

.elhoo_account_IconSvg_off {
    fill: var(--dark_color);
    color: var(--dark_color);
}

::ng-deep .mat-checkbox-layout {
    margin-bottom: 0px !important;
}