<app-contact-header></app-contact-header>

<div class="container-fluid">

    <div class="row align-items-center">
        <div class="col-md-2 d-flex align-items-center">
            <div class="row">



                <div class="col-md-6 d-flex align-items-center">
                    <p class="mb-0 mr-4 text-nowrap
                                        text-uppercase text-spacing-1">Listing |
                    </p>
                    <mat-form-field appearance="none" class="mr-3">

                        <mat-select [(ngModel)]="pageSize">
                            <mat-option (click)="updateManualPage2(pageSize)" *ngFor="let pageSize of
                                                pageSizeOptions" [value]="pageSize"> {{pageSize}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>



            </div>
        </div>
        <div class="col-md-2">
            <mat-form-field appearance="none">
                <mat-label class="elhoo_compte_labelInputPosition">ACTION RAPIDE
                </mat-label>
                <mat-select>
                    <mat-option value="1">Option 1</mat-option>
                    <mat-option value="2">Option 2</mat-option>
                    <mat-option value="3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class=" col-sm-3   d-flex  ml-auto text-right">

            <mat-form-field appearance="none">

                <input class="ml-3   InputFirstSection" autocomplete="off" matInput placeholder="Recherche" (keyup)="applyFilter($event)" type="search" matInput placeholder="Recherche" #input>
                <mat-icon class="mr-2" matSuffix>
                    <svg width="1em" viewBox="0 0
                                            16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M10.442 10.442a1 1 0 0 1 1.415
                                                0l3.85 3.85a1 1 0
                                                0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1
                                                0-1.415z" />
                                                <path fill-rule="evenodd"
                                                    d="M6.5 12a5.5 5.5 0 1 0 0-11
                                                    5.5 5.5 0 0 0 0
                                                    11zM13 6.5a6.5 6.5 0 1 1-13 0
                                                    6.5 6.5 0 0 1 13
                                                    0z" />
                                                </svg>
                </mat-icon>
            </mat-form-field>
            <button (click)="setrouter('/contact/newsuppliers')" matTooltipPosition="above" matTooltip="Ajouter fournisseurs" class="elhoo_compte_IconSvgStyle1 ml-3" #elhoolink [ngStyle]="{ 'height.px':   elhoolink.offsetWidth}">
                <mat-icon>
                    <svg width="20" height="19" viewBox="0 0 22 19"
                    fill="#323d41"
                    xmlns="http://www.w3.org/2000/svg">
                    <path   [ngClass]="{elhoo_account_IconSvg_on: route_active ==
                        '/contact/newsuppliers' ,
                        elhoo_account_IconSvg_off : route_active !=
                        '/contact/newsuppliers' }" fill-rule="evenodd"
                        clip-rule="evenodd" d="M20.7777
                        -0.000305176H1.22218V2.37435H20.7777V-0.000305176ZM22
                        11.873V9.49833L20.7777 3.56171H1.22218L0
                        9.49833V11.873H1.22218V18.997H13.4444V11.873H18.3333V18.997H20.7777V11.873H22ZM11
                        16.6223H3.66663V11.873H11V16.6223Z"
                          />
                    </svg>
                    </mat-icon>
                </button>

            <button matTooltipPosition="above" matTooltip="Import file" class="elhoo_compte_IconSvgStyle1 ml-3" #elhoolink [ngStyle]="{ 'height.px':
            elhoolink.offsetWidth}">
                <mat-icon>
                    <svg  width="20"  viewBox="0 0 20 
                        19" fill="#323d41"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            clip-rule="evenodd" d="M18.8312
                            12.7119C18.6267 12.4968 18.3785
                            12.3884 18.0857
                            12.3884H13.4024C13.2493 12.82
                            12.9917 13.1748 12.6294
                            13.452C12.2674 13.73 11.8639 13.8686
                            11.4175 13.8686H8.61012C8.16372
                            13.8686 7.75951 13.73 7.3981
                            13.452C7.03576 13.1748 6.77823 12.82
                            6.62506 12.3884H1.94172C1.64923
                            12.3884 1.40068 12.4968 1.19566
                            12.7119C0.991104 12.9282 0.888672
                            13.1902 0.888672
                            13.4985V17.198C0.888672 17.5063
                            0.991104 17.7687 1.19566
                            17.9843C1.40068 18.1998 1.64923
                            18.3078 1.94172
                            18.3078H18.0857C18.3785 18.3078
                            18.6267 18.1998 18.8319
                            17.9843C19.0364 17.7679 19.1389
                            17.5063 19.1389
                            17.198V13.4985C19.1389 13.1902
                            19.0364 12.9282 18.8312
                            12.7119ZM14.719 16.6081C14.5798
                            16.7551 14.4155 16.8278 14.2256
                            16.8278C14.0348 16.8278 13.8705
                            16.7551 13.7317 16.6081C13.5931
                            16.462 13.5234 16.2888 13.5234
                            16.0878C13.5234 15.8875 13.5931
                            15.7144 13.7317 15.5681C13.8705
                            15.4212 14.0348 15.3485 14.2256
                            15.3485C14.4155 15.3485 14.5798
                            15.4212 14.719 15.5681C14.8578
                            15.7144 14.9275 15.8875 14.9275
                            16.0878C14.9275 16.2888 14.8578
                            16.462 14.719 16.6081ZM17.5264
                            16.6081C17.3879 16.7551 17.2226
                            16.8278 17.0327 16.8278C16.8428
                            16.8278 16.6785 16.7551 16.5393
                            16.6081C16.4006 16.462 16.3313
                            16.2888 16.3313 16.0878C16.3313
                            15.8875 16.4006 15.7144 16.5393
                            15.5681C16.6785 15.4212 16.8428
                            15.3485 17.0327 15.3485C17.2226
                            15.3485 17.3879 15.4212 17.5264
                            15.5681C17.665 15.7144 17.7348
                            15.8875 17.7348 16.0878C17.7348
                            16.2888 17.6658 16.462 17.5264
                            16.6081ZM5.07626
                            6.08067H7.89792V1.36602C7.89792
                            1.18391 7.96719 1.02534 8.10727
                            0.892343C8.24651 0.759476 8.41166
                            0.692444 8.6033
                            0.692444H11.4242C11.6158 0.692444
                            11.7809 0.759476 11.9202
                            0.892343C12.0597 1.02534 12.1296
                            1.18391 12.1296
                            1.36602V6.08067H14.9512C15.2596
                            6.08067 15.4763 6.22145 15.6011
                            6.50128C15.7258 6.77518 15.6744
                            7.01754 15.4464 7.22794L10.5095
                            11.9428C10.3773 12.076 10.2122
                            12.1426 10.0135 12.1426C9.81533
                            12.1426 9.65017 12.076 9.51813
                            11.9428L4.58032 7.22794C4.35242
                            7.01754 4.3014 6.77518 4.42651
                            6.50128C4.55125 6.22076 4.7678
                            6.08067 5.07626 6.08067Z"
                            fill="#323D41" />
                        </svg>

                    </mat-icon>
                </button>


            <button (click)="exportDirective.exportTable('xlsx',
        {fileName:'clients', sheet: 'list', Props:
        {Author: 'devcom'}})" matTooltipPosition="above" matTooltip="Export file" class="elhoo_compte_IconSvgStyle1 ml-3" #elhoolink [ngStyle]="{ 'height.px':
        elhoolink.offsetWidth}">
                    <mat-icon>
                        <svg width="20"  viewBox="0 0
                            22 19" fill="#323d41"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                clip-rule="evenodd" d="M16.4673
                                0.927473L21.7923 4.86651C21.96
                                4.98988 22.0587 5.18557 22.0587
                                5.39169C22.0587 5.59807 21.96
                                5.79346 21.7923 5.91703L16.4673
                                9.85611C16.2661 10.0057 15.9946
                                10.0293 15.7695 9.91775C15.5446
                                9.80617 15.4021 9.57893 15.4021
                                9.33072V7.36133H12.8593C10.5748
                                7.36133 8.52196 8.6139 7.50074
                                10.6295L7.34379 10.9379C7.22929
                                11.1637 6.99631 11.3002 6.74866
                                11.3002C6.69801 11.3002 6.64616
                                11.2951 6.59551 11.2832C6.29609
                                11.2137 6.08304 10.9485 6.08304
                                10.6437C6.08304 6.66142 9.36724
                                3.42225 13.4053
                                3.42225H15.4021V1.45268C15.4021
                                1.20452 15.5446 0.977479 15.7709
                                0.865851C15.996 0.754267 16.2674
                                0.777961 16.4673
                                0.927473ZM3.42039
                                16.5524H15.4021V11.341H18.0648V17.8653C18.0648
                                18.5913 17.4697 19.1783 16.7334
                                19.1783H2.08914C1.35421 19.1783
                                0.757812 18.5913 0.757812
                                17.8653V3.42225C0.757812 2.69753
                                1.35421 2.10925 2.08914
                                2.10925H7.41429V4.73532H3.42039V16.5524Z"
                                fill="#323d41" />
                            </svg>

                        </mat-icon>
                    </button>
        </div>


    </div>
    <!-- LIST OF SALE -->
    <!-- <div class="row row-cols-7 border border-dark bg-black rounded-lg mt-3 mb-3 pt-3 elhoo-list-header text-body"> -->
    <div class="row py-3">
        <div class="col-12 col-md-12">
            <table #exportDirective="matTableExporter" matTableExporter mat-table [dataSource]="dataSource" class="mat-elevation-z8 shadow-none" matSort>
                <ng-container matColumnDef="act">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION</th>
                    <td mat-cell *matCellDef="let
                                                repos">
                        <mat-checkbox class="example-margin
                                                    checkboxCenter"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="devis">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>références</th>
                    <td mat-cell *matCellDef="let
                                                repos">{{repos.id}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAT</th>
                    <td mat-cell *matCellDef="let
                                                repos">{{repos.default_branch}}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                    <td mat-cell *matCellDef="let
                                                repos">{{repos.name}}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="montant">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CP</th>
                    <td mat-cell *matCellDef="let
                                                repos">{{repos.stargazers_count}}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>VILLE</th>
                    <td mat-cell *matCellDef="let
                                                repos">{{repos.stargazers_count}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="new">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TVA</th>
                    <td mat-cell *matCellDef="let
                                                repos">{{repos.stargazers_count}}</td>
                </ng-container>




                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
                    <td mat-cell *matCellDef="let
                                                repos">
                        <button class="border-0
                                                    bg-transparent">
                                                    <svg width="14" height="17"
                                                        viewBox="0 0 14
                                                        17" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M5.36536
                                                            1.02622H8.30152V1.50426H9.36176V0.95934C9.36194
                                                            0.43048 8.9175 0
                                                            8.37117
                                                            0H5.2957C4.74939 0
                                                            4.30492 0.43048
                                                            4.30492
                                                            0.95934V1.50426H5.36536V1.02622ZM11.8106
                                                            5.5699H1.85633C1.58358
                                                            5.5699
                                                            1.36887 5.7951
                                                            1.39083 6.0582L2.223
                                                            16.016C2.26941
                                                            16.572 2.74845 17
                                                            3.32421
                                                            17H10.3425C10.9181
                                                            17
                                                            11.3974 16.572
                                                            11.4437
                                                            16.0158L12.2759
                                                            6.0582C12.298 5.7951
                                                            12.0833 5.5699
                                                            11.8106
                                                            5.5699ZM4.26653
                                                            15.938C4.25547
                                                            15.9386 4.2444
                                                            15.939 4.23333
                                                            15.939C3.95531
                                                            15.939 3.72197
                                                            15.7295 3.70482
                                                            15.4574L3.18323
                                                            7.28252C3.16533
                                                            6.99966 3.3876
                                                            6.75622 3.67981
                                                            6.73886C3.97109
                                                            6.72168 4.22373
                                                            6.93636 4.24163
                                                            7.21948L4.76304
                                                            15.3943C4.78112
                                                            15.6771 4.55875
                                                            15.9205 4.26653
                                                            15.938ZM7.36951
                                                            15.4259C7.36951
                                                            15.7092 7.13221
                                                            15.9388 6.83935
                                                            15.9388C6.54649
                                                            15.9388 6.30908
                                                            15.7092 6.30908
                                                            15.4259V7.25094C6.30908
                                                            6.96758
                                                            6.54649 6.73784
                                                            6.83935
                                                            6.73784C7.13211
                                                            6.73784 7.36951
                                                            6.96758 7.36951
                                                            7.25094V15.4259ZM10.4837
                                                            7.28106L9.98578
                                                            15.456C9.96925
                                                            15.7286 9.73545
                                                            15.9388 9.45699
                                                            15.9388C9.44655
                                                            15.9388 9.43586
                                                            15.9386 9.42534
                                                            15.9382C9.13304
                                                            15.9213 8.91002
                                                            15.6786 8.92727
                                                            15.3956L9.42515
                                                            7.22076C9.44222
                                                            6.93782 9.69236
                                                            6.72194 9.9854
                                                            6.73878C10.2778
                                                            6.75528 10.5008
                                                            6.99828 10.4837
                                                            7.28106ZM13.6441
                                                            3.98642L13.2959
                                                            2.97646C13.2041
                                                            2.7101 12.9465
                                                            2.53048 12.6563
                                                            2.53048H1.01049C0.720317
                                                            2.53048
                                                            0.462699 2.7101
                                                            0.370984
                                                            2.97646L0.0227731
                                                            3.98642C-0.0444109
                                                            4.18136 0.0430711
                                                            4.38004 0.206203
                                                            4.4791C0.272537
                                                            4.51946 0.351247
                                                            4.54366 0.437794
                                                            4.54366H13.2292C13.3155
                                                            4.54366
                                                            13.3944 4.51946
                                                            13.4608
                                                            4.479C13.6238
                                                            4.37988 13.7113
                                                            4.18118 13.6441
                                                            3.98642Z" />
                                                        </svg>
                                                    </button>
                        <button class="border-0
                                                        bg-transparent"><svg
                                                            width="17"
                                                            height="17"
                                                            viewBox="0 0
                                                            17 17" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                fill-rule="evenodd"
                                                                clip-rule="evenodd"
                                                                d="M13.6185
                                                                8.92417C13.2446
                                                                8.92417 12.9422
                                                                9.22567 12.9422
                                                                9.59705V14.9808C12.9422
                                                                15.3517
                                                                12.6394 15.6538
                                                                12.2661
                                                                15.6538H2.7991C2.42579
                                                                15.6538
                                                                2.12287 15.3517
                                                                2.12287
                                                                14.9808V5.55923C2.12287
                                                                5.18853
                                                                2.42579 4.88633
                                                                2.7991
                                                                4.88633H8.20887C8.58274
                                                                4.88633
                                                                8.88501 4.58483
                                                                8.88501
                                                                4.21337C8.88501
                                                                3.84189 8.58274
                                                                3.54039 8.20887
                                                                3.54039H2.7991C1.68063
                                                                3.54039
                                                                0.770508 4.44619
                                                                0.770508
                                                                5.55923V14.9808C0.770508
                                                                16.0939
                                                                1.68063 16.9998
                                                                2.7991
                                                                16.9998H12.2661C13.3846
                                                                16.9998
                                                                14.2948 16.0939
                                                                14.2948
                                                                14.9808V9.59705C14.2948
                                                                9.22499
                                                                13.9924 8.92417
                                                                13.6185
                                                                8.92417ZM7.1106
                                                                8.31115C7.06317
                                                                8.35819 7.03144
                                                                8.41807 7.01797
                                                                8.48265L6.53984
                                                                10.8623C6.51759
                                                                10.9726 6.55276
                                                                11.0864 6.63256
                                                                11.1665C6.69678
                                                                11.2304 6.78332
                                                                11.2647 6.872
                                                                11.2647C6.8935
                                                                11.2647 6.91593
                                                                11.2627 6.93816
                                                                11.258L9.32864
                                                                10.7824C9.39489
                                                                10.7688 9.45514
                                                                10.7372 9.50173
                                                                10.6899L14.852
                                                                5.36541L12.4616
                                                                2.98665L7.1106
                                                                8.31115ZM16.5046
                                                                1.34127C15.8453
                                                                0.685152 14.7729
                                                                0.685152 14.1141
                                                                1.34127L13.1783
                                                                2.27255L15.5687
                                                                4.65147L16.5046
                                                                3.72001C16.8238
                                                                3.40311 16.9996
                                                                2.98041 16.9996
                                                                2.53093C16.9996
                                                                2.08137 16.8238
                                                                1.65877 16.5046
                                                                1.34127Z" />
                                                            </svg></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row;
                                                    columns:
                                                    displayedColumns;"></tr>
            </table>







            <nav class="mt-3 d-flex  flex-row-reverse" aria-label="Page navigation example">
                <ul class="pagination pagination-lg">
                    <li (click)="updateManualPagprevious()" class="page-item page-item-li btn  ml-2">

                        <span aria-hidden="true"><img src="../../../../assets/Combined shape 5230.svg" /></span>

                    </li>

                    <li [ngClass]="{colorBg:manualPage == item-1,colorBg1:manualPage == item-1,colorBg2:manualPage == item-1,
                        colorBgs:manualPage != item-1,colorBg1s:manualPage != item-1,colorBg2s:manualPage != item-1 }" *ngFor="let item of collection" (click)="updateManualPage(item-1)" class="page-item  d-flex align-items-center btn pl-4 pr-4 ml-2">
                        {{item}}
                    </li>

                    <li class="page-item page-item-li btn  ml-2" (click)="updateManualPag()">

                        <span aria-hidden="true"><img src="../../../../assets/Combined shape 5228.svg" /></span>

                    </li>
                </ul>
            </nav>





            <div class="d-none">
                <mat-paginator [pageSize]="pageSize" [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage">
                </mat-paginator>
            </div>



        </div>
    </div>