.elhoo_compte_title2 {
    border-radius: 8px;
    border: 1px solid #323d41;
    display: flex;
    justify-content: flex-start;
}
.input-group1 {
    margin-bottom: 30px;
}
 .elhoo_compte_IconSvgStyle {
     text-align: center;
     width: 50px;
     border-radius: 10px;
     cursor: pointer;
     height: 48px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .elhoo_body_subtitle_textStyle {
     font-size: 18px;
     letter-spacing: 0.5px;
     font-family: 'Poppins', sans-serif;
 }
 
 .elhoo_body_subtitle_textStyle1 {
     font-size: 12px;
     letter-spacing: 0.5px;
     font-family: 'Poppins', sans-serif;
 }
 
 .elhoo_body_subtitle_textStyle2 {
     font-size: 18px;
     letter-spacing: 0.5px;
     font-family: 'Poppins', sans-serif;
     color: var(--secondary_color);
 }
 
 .list-group-item {
     padding: 0;
     background-color: #fff0;
     border: 0;
 }
 
 ul list-group {
     display: flex;
     padding-left: 0;
     margin-bottom: 0;
     border-radius: .25rem
 }
 
 mat-form-field {
     width: 300%;
 }
 
 .elhoo_compte_labelInputPosition {
     line-height: 25px;
     background-color: #eaeff2;
     padding-left: 3px;
     padding-right: 3px;
     font-size: 12px;
 }
 
 h1 {
     margin: 0;
     font-family: 'Poppins', sans-serif;
     letter-spacing: 1px;
     font-size: 17px;
 }
 
 .elhoo_compte_title {
     border-radius: 8px;
     background-color: #323d41;
     display: flex;
     justify-content: flex-start;
     color: white;
     padding: .5rem .8rem;
 }
 
 .elhoo_compte_messageErrorPosition {
     margin-top: 18px;
     color: var(--secondary_color);
 }
 
 .elhoo_compte_messageErrorPositionModal {
     margin-top: 16px;
     color: var(--secondary_color);
     font-size: 9px;
 }
 
 .elhoo_compte-logo {
     border-style: solid;
     border-width: 1px;
     border-radius: 10px;
     display: inline-block;
     justify-content: center;
     align-content: center;
 }
 
 .elhoo_img {
     width: auto;
     height: 105px;
 }
 
 .elhoo_body_btn {
     color: #323d41;
     border-color: #323d41;
     letter-spacing: 1.2px;
 }
 
 .elhoo_body_btn:hover {
     color: var(--secondary_color);
     border-color: var(--secondary_color);
     background-color: var(--primary_color);
     cursor: pointer;
     transition: all 0.23s ease-in-out 0s;
 }
 
 .elhoo_body_btn1 {
     background-color: #323d41;
     color: var(--primary_color);
     border-color: #323d41;
     letter-spacing: 1.2px;
 }
 
 .elhoo_body_btn1:hover {
     color: var(--secondary_color);
     border-color: var(--secondary_color);
     background-color: var(--primary_color);
     cursor: pointer;
     transition: all 0.23s ease-in-out 0s;
 }
 
 .elhoo_compte_title2 {
     border-radius: 8px;
     border: 1px solid #323d41;
     display: flex;
     justify-content: flex-start;
     font-family: 'Poppins', sans-serif;
     letter-spacing: 1.2px;
 }
 
 .btnEnregistrer {
     background-color: var(--secondary_color);
     box-shadow: 4.6px 5.3px 8.7px rgba(137, 148, 169, 0.43), -4.2px -4.2px 5px #FFFFFF;
     color: var(--primary_color);
     font-size: 14px;
     letter-spacing: 2px;
     padding-left: 30px;
     padding-right: 30px;
 }
 
 ul.elhoo_account_listeIcon li a {
     background-color: rgba(50, 61, 65, 0.5);
     width: 33px;
     height: 33px;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: .3s;
     border-radius: 7px;
 }
 
 ul.elhoo_account_listeIcon li a:hover {
     background-color: rgba(50, 61, 65, 1);
 }
 
 ul.elhoo_account_listeIcon li a svg path {
     fill: var(--primary_color);
 }
 
 ul.elhoo_account_listeIcon li a:hover svg path {
     fill: var(--secondary_color);
 }
 
 .buttonText {
     display: flex;
     justify-content: center;
     align-content: center;
     font-size: 14px;
     padding: 11px !important;
     letter-spacing: 2px;
 }
 
 .elhoo_compte_IconSvgStyle:hover svg path {
     fill: var(--secondary_color);
 }
 
 .elhoo_body_btn:hover svg path {
     fill: var(--secondary_color);
 }
 
 .elhoo_body_btn1:hover svg path {
     fill: var(--secondary_color);
 }
 
 .InputFirstSection {
     font-size: 12px;
     padding-left: 12px;
 }
 
 .astext {
     background: none;
     border: none;
     margin: 0;
     padding: 0;
     cursor: pointer;
 }
 
 .BtnLanguageActive {
     color: var(--secondary_color);
 }
 
 .BtnLanguageInactive {
     color: var(--dark_color);
 }
 
 .divider {
     color: var(--secondary_color);
 }
 
 .btn_upload {
     background-color: var(--secondary_color);
     color: var(--primary_color);
     font-size: 12px;
     letter-spacing: 2px;
     padding: 11px;
     border-radius: 10px;
 }
