<div class="container-fluid custom-scrollbar-css">
    <div class="row mb-4">
        <div class="col col-md-9">

            <h1 *ngIf="route_active == '/contact/customer'" class="text-uppercase">Contact Client</h1>
            <h1 *ngIf="route_active == '/contact/suppliers'" class="text-uppercase">Liste Fournisseurs </h1>
            <h2 *ngIf="route_active == '/contact/customer'">Vous avez deja 30 clients </h2>
            <h2 *ngIf="route_active == '/contact/suppliers'">Vous avez deja 30 fournisseurs </h2>

        </div>

        <div class="col col-md-3 d-flex   justify-content-between">


            <div *ngIf="route_active == '/contact/customer'" (click)="setrouter('/contact/newcustomer')">
                <a class="btn elhoo_btn_transparent">

                    <svg width="20" height="19" viewBox="0 0 20 21" fill="#323d41" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2331 10.0916C12.6742 10.0916 14.653 8.03974 14.653 5.50852C14.653 2.97744 12.6742 0.925491 10.2331 0.925491C7.79187 0.925491 5.81291 2.97744 5.81291 5.50852C5.81291 8.03974 7.79187 10.0916 10.2331 10.0916ZM10.233 13.2808C11.8529 13.2808 13.2653 12.3744 14.0349 11.0269C17.3993 12.5493 19.7531 16.0249 19.7531 20.0743H0.712891C0.712891 16.0249 3.06674 12.5493 6.43111 11.0269C7.20082 12.3744 8.61316 13.2808 10.233 13.2808Z" fill="#323d41"/>
                                </svg>


                    <span>Ajouter clients</span>

                </a>
            </div>


            <div *ngIf="route_active == '/contact/suppliers'" (click)="setrouter('/contact/newsuppliers')">
                <a class="btn elhoo_btn_transparent">


                    <svg width="20" height="19" viewBox="0 0 22 19" class="mr-2" fill="#323d41" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    clip-rule="evenodd" d="M20.7777
                                    -0.000305176H1.22218V2.37435H20.7777V-0.000305176ZM22
                                    11.873V9.49833L20.7777 3.56171H1.22218L0
                                    9.49833V11.873H1.22218V18.997H13.4444V11.873H18.3333V18.997H20.7777V11.873H22ZM11
                                    16.6223H3.66663V11.873H11V16.6223Z"
                                    fill="#323d41" />
                                </svg>

                    <span>Ajouter fournisseurs</span>
                </a>
            </div>







            <ul class="list-group">
                <li class="list-group-item elhoo_compte_IconSvgStyle">

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="w-100"><svg width="30" fill="#323d41" viewBox="0
                            0 49 32" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0292969
                              0.0818024H48.8773V5.40163H0.0292969V0.0818024ZM48.8773
                              13.3814H20.0125V18.7012H48.8773V13.3814ZM48.8773
                              26.6806H8.91086V32H48.8773V26.6806Z" />
                            </svg></mat-icon>
                        </button>

                    <mat-menu #menu="matMenu">

                        <button (click)="setrouter('/contact/customer')" mat-menu-item>
                               
                                  <span [ngClass]="{elhoo_account_IconSvg_on: route_active ==
                                    '/contact/customer' ,
                                    elhoo_account_IconSvg_off : route_active !=
                                    '/contact/customer' }">Liste clients </span>
                                </button>



                        <button (click)="setrouter('/contact/suppliers')" mat-menu-item>
                              
                                  <span [ngClass]="{elhoo_account_IconSvg_on: route_active ==
                                    '/contact/suppliers' ,
                                    elhoo_account_IconSvg_off : route_active !=
                                    '/contact/suppliers' }">Liste Fournisseurs</span>
                                </button>
                    </mat-menu>



                </li>


            </ul>

        </div>
    </div>
</div>