/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
 :root {
    --primary_color: #ebeff2;
    --secondary_color: #D22254;
    --badge_color_success: #28a745;
    --badge_color_warn: #D22254;
    --dark_color: #323d41;
}

html,
body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    background-color: var(--primary_color);
    background-size: contain;
    width: auto;
    height: auto;
    overflow: auto;
}

p {
    font-family: 'Poppins', sans-serif;
}


/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary_color);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--dark_color);
}

.mat-badge-medium .mat-badge-content {
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.custom-scrollbar-css::-webkit-scrollbar-track {
    background: var(--primary_color);
}

.mat-icon-button ::ng-deep .mat-button-focus-overlay {
    display: none;
}

button:focus {
    outline: none;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}

.mat-calendar {
    background-color: var(--primary_color);
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: var(--secondary_color);
    color: var(--primary_color);
}

p {
    font-family: 'Poppins', sans-serif !important;
}

.PositionContainer {
    padding: 6.5rem 1rem 2rem 7rem;
}

a.btn:hover,
a.btn:focus,
a.btn:active {
    color: var(--secondary_color);
    border-color: var(--secondary_color);
    background-color: var(--primary_color);
    cursor: pointer;
    transition: all 0.23s ease-in-out 0s;
}

a.btn:hover svg path {
    fill: var(--secondary_color);
}

a.btn.elhoo_btn_transparent {
    color: #323d41;
    border-color: #323d41;
    letter-spacing: 1.2px;
    background-color: var(--primary_color);
}

a.btn.elhoo_btn_transparent:hover {
    color: var(--secondary_color);
    border-color: var(--secondary_color);
    background-color: var(--primary_color);
    cursor: pointer;
    transition: all 0.23s ease-in-out 0s;
}

a.btn.elhoo_btn_transparent:hover svg path {
    fill: var(--secondary_color);
}

button[type="submit"] {
    background-color: var(--secondary_color);
    color: var(--primary_color);
    font-size: 14px;
    letter-spacing: 2px;
    padding: 13px 44px;
    &:hover {
        box-shadow: 4.6px 5.3px 8.7px rgba(137, 148, 169, 0.43), -4.2px -4.2px 5px #FFFFFF;
        background-color: var(--dark_color);
        color: var(--primary_color);
    }
}

.mat-menu-content:not(:empty) {
    background-color: var(--primary_color);
}

.mat-form-field-infix {
    padding: 13px 0;
    border-top: 0;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: var(--secondary_color)!important;
}

.mat-form-field {
    border-color: #323d41;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
}

.mat-form-field-wrapper {
    padding-bottom: 0;
}

.mat-form-field-label {
    color: #323d41!important;
    margin-left: 10px;
    margin-bottom: 15px;
}

.mat-datepicker-content {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mat-calendar-body-selected {
    background-color: var(--secondary_color);
}

.mat-form-field-underline {
    display: none;
}

.custom-frame .mat-checkbox-background,
.custom-frame .mat-checkbox-frame {
    border-radius: 70% !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--secondary_color);
}

.my-custom-dialog-class mat-dialog-container {
    padding: 0;
    background-color: var(--primary_color);
}

.modal-title {
    text-align: center;
    color: #ebeff2;
    background-color: #323d41;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 2px;
}

* {
    font-family: 'Poppins', sans-serif !important;
}

button {
    letter-spacing: 2px;
}

h3 {
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 2px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: #323d41;
    display: flex;
    justify-content: flex-start;
    color: white;
    padding: .5rem 1.4rem;
}

h1 {
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--secondary_color);
    font-size: 23px;
    font-family: 'Poppins', sans-serif !important;
}

h2 {
    font-size: 14px !important;
    letter-spacing: 0.5px !important;
    line-height: 0px !important;
    font-family: 'Poppins', sans-serif !important;
}

a.btn {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    padding: 11px 32px;
    letter-spacing: 2px;
    background-color: #323d41;
    color: var(--primary_color);
    border-color: #323d41;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.mat-select {
    line-height: 1;
}

mat-form-field {
    width: 100%;
}

// ELHOO DATA TABLE
table {
    box-shadow: 0px !important;
    border-collapse: separate !important;
    border-spacing: 0px 5px !important;
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;

    svg{
        fill: var(--dark_color);
        transition: .3s;
        
        &:hover{
            fill: var(--secondary_color);
        }
    }
}

.mat-table {
    box-shadow: 0px !important;
    border-collapse: separate !important;
    border-spacing: 0px 5px !important;
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal !important;
    background: #eaeff2 !important;
}

.custom-table thead {
    background-color: #F2F5FA;
}

.custom-table thead th {
    border-bottom: 0;
    text-transform: uppercase;
}

.custom-table th {
    border-top: 0;
}

.custom-table tbody tr:first-of-type td {
    border-top: 0;
}

// tr
tr.mat-footer-row,
tr.mat-row {
    height: 48px;
    background: #F2F5FA;
    border-radius: 12px;
}

td.mat-cell:first-child,
th.mat-header-cell:first-child {
  
    border-radius: 5px 0px 0px 5px;
    border-left: 1px solid #212529;
    // border-top:1px solid #212529 ;
}

td.mat-cell:last-child,
th.mat-header-cell:last-child {
    /* row border */
  
    border-radius: 0px 5px 5px 0px;
    border-right: 1px solid #212529;
    // border-top:1px solid #212529 ;
}

.chip-cat {
    background: #212529;
    color: #212529!important;
}

.chip-sous-cat {
    background: #ff4081;
    color: #ff4081 !important;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-color: #333E42 !important;
    border-top: 1px solid #333E42;
}

th.mat-header-cell {
    text-align: left;
    background-color: #333E42;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}

td.mat-cell{
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
}

.mat-elevation-z8 {
    box-shadow: 0px 0px 0px !important;
}

.mat-header-cell {
    color: #F2F5FA !important;
}


// END ELHOO DATA TABLE



// ELHOO BADGE STATUS

.badge {
    color: #F2F5FA;
    font-weight: normal;
    text-transform: uppercase;
    padding: 9px 9px;
    letter-spacing: 2px;
    border-radius: 8px;
}

.badge.badge-send {
    background-color: #699F00;
}
// END ELHOO BADGE STATUS


// LETTER SPACING

.text-spacing-1{
    letter-spacing: 1px;
}
.text-spacing-2{
    letter-spacing: 2px;
}

// END LETTER SPACING

