* {
    font-family: 'Poppins', sans-serif !important;
}

.list-group-item {
    padding: 0;
    background-color: #fff0;
    border: 0;
    flex-direction: unset;
    flex-direction: unset;
    display: flex;
    justify-content: flex-end;
}

ul {
    .list-group {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        border-radius: .25rem;
    }
}

.elhoo_compte_IconSvgStyle {
    &:hover {
        svg {
            path {
                fill: var(--secondary_color);
            }
        }
    }
}

.elhoo_body_btn {
    &:hover {
        svg {
            path {
                fill: var(--secondary_color);
            }
        }
    }
}

.elhoo_body_btn1 {
    &:hover {
        svg {
            path {
                fill: var(--secondary_color);
            }
        }
    }
}

button {
    border: 0;
}

.elhoo_account_IconSvg_on {
    fill: var(--secondary_color);
    color: var(--secondary_color);
}

.elhoo_account_IconSvg_off {
    fill: var(--dark_color);
    color: var(--dark_color);
}

h3 {
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif !important;
}

h1 {
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--secondary_color);
    font-size: 23px;
    font-family: 'Poppins', sans-serif !important;
}

h2 {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 0px;
    font-family: 'Poppins', sans-serif !important;
}